// pages/_index.scss

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100vmin;
  justify-content: center;
  width: 100vmax;
}

.main {
  @extend %clearfix;
  @include card-depth(5);
  @include flex-center;
  background: $black padding-box;
  border-radius: 999px;
  color: $white;
  height: 85vmin;
  flex-direction: column;
  margin: 30px auto;
  text-align: center;
  width: 85vmax;
}

.infinity {
  @include infinity-symbol($white);
  margin-bottom: 2rem;
}

.upload-area {
  border-radius: 1.5rem;
  padding: 2.5rem;
  margin: 0 0 3rem -20rem;
  max-height: 34rem;
  overflow-x: hidden;
  overflow-y: auto;
}
