// pages/_index.scss

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100vmin;
  justify-content: center;
  width: 100vmax;
}

.main {
  @extend %clearfix;
  @include card-depth(5);
  @include flex-center;
  background: $black padding-box;
  border-radius: 999px;
  color: $white;
  height: 85vmin;
  flex-direction: column;
  margin: 30px auto;
  text-align: center;
  width: 85vmax;
}

.header-main {
  @include animation-stage;
  top: 0;
  text-align: center;
  position: absolute;
  margin-top: -30px;
  width: 100%;
}

.infinity {
  @include infinity-symbol($white);
  margin-bottom: 2rem;
}

.upload-area {
  @include scrollbar(10px, $dark-gray, $is-internal: true);
  background: $off-black-2;
  border-radius: 1.5rem;
  padding: 3rem;
  margin: 0 0 3rem;
  max-height: 34rem;
  overflow-x: hidden;
  overflow-y: auto;
}
