// components/_file-input.scss

.label {
  display: inline-block;
  font: 1.8em/1.2 font-stack('secondary');
  margin-right: 2rem;
  padding: 2rem 0;
  position: relative;
  top: .75rem;
  width: 200px;
}

.input {
  @include gradient($black, get-val($color-palette, 'primary'), horizontal, 22%);
  border-color: $white;
  border-style: solid;
  font: 700 1.8em/1.2 font-stack('monospace');
  padding: 2rem;
  width: conv-to-rem(610px);

  &--file {
    @extend .input;
    border-width: .2rem .4rem;

    &--first {
      @extend .input;
      border-width: .4rem .4rem .2rem;
      border-radius: 15px 15px 0 0;
    }

    &--last {
      @extend .input;
      border-width: .2rem .4rem .4rem;
      border-radius: 0 0 15px 15px;
      color: white;
      position: relative;
      top: -2px;
    }
  }
}

.new-file-msg {
  font: 1.8em/1.2 font-stack('secondary');
  padding: 2rem 0;
  margin-left: 20rem;
}
